trigger:
  branches:
    include:
      - main
      - develop
  paths:
    exclude:
      - '*.md'
      - 'docs/*'

pr:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: 'NTDP-Test-Variables'  # Create this variable group in Azure DevOps
  - name: BASE_URL
    value: 'https://portal-uat.ntdp-sa.com'
  - name: SAUDI_ID
    value: '1111111111'
  - name: EXPECTED_NAME
    value: 'Dummy'

stages:
- stage: Test
  displayName: 'Run Playwright Tests'
  jobs:
  - job: PlaywrightTests
    displayName: 'Playwright Tests'
    timeoutInMinutes: 60
    
    strategy:
      matrix:
        chromium:
          browserName: 'chromium'
        firefox:
          browserName: 'firefox'
        webkit:
          browserName: 'webkit'
    
    steps:
    - task: NodeTool@0
      displayName: 'Use Node.js 18'
      inputs:
        versionSpec: '18'
    
    - script: npm ci
      displayName: 'Install dependencies'
    
    - script: npx playwright install --with-deps
      displayName: 'Install Playwright browsers'
    
    - script: |
        echo "BASE_URL=$(BASE_URL)" >> .env
        echo "SAUDI_ID=$(SAUDI_ID)" >> .env
        echo "EXPECTED_NAME=$(EXPECTED_NAME)" >> .env
      displayName: 'Create .env file'
    
    - script: npx playwright test --project=$(browserName)
      displayName: 'Run Playwright tests on $(browserName)'
      env:
        CI: true
    
    - task: PublishTestResults@2
      displayName: 'Publish test results'
      condition: always()
      inputs:
        testResultsFormat: 'JUnit'
        testResultsFiles: 'test-results/results.xml'
        testRunTitle: 'Playwright Tests - $(browserName)'
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Playwright Report'
      condition: always()
      inputs:
        pathToPublish: 'playwright-report'
        artifactName: 'playwright-report-$(browserName)'
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Test Results'
      condition: always()
      inputs:
        pathToPublish: 'test-results'
        artifactName: 'test-results-$(browserName)'